{% extends 'base/layout.html' %}

{% block content %}
<div class="container ">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col">
            <h1>hello hIIIIIIIIIIIIIIIIIIIIIIIIIi</h1>
        </div>
    <div class="col"></div>
</div>
<div class="jumbotron">
    <h1 class="display-4">Hello, Everyone!</h1>
    <p class="lead">This is a simple website Just have a look.</p>
    <hr class="my-4">
    <p>For Further facilities available  look at the options above</p>
    <a class="btn btn-primary btn-lg" href="/myproject" role="button">Learn more</a>
</div>
{% endblock %}
